<!doctype html>
<html>
    <head>
       {% block head %}
           <title>{% block title %}{% endblock %} - reports tool</title>
           <link rel="stylesheet" href="/static/styles/main.css">
           <link rel="stylesheet" href="/static/styles/widearea.min.css">
       {% endblock %}
    </head>
    <body>
        <div class="container">
          <div class="content">
            <div style="float:right">
              {% if current_user.is_authenticated() %}
                <a href="https://musicbrainz.org/user/{{current_user.id}}">{{ current_user.id }}</a>
                <a href="{{ url_for('dashboard') }}">(dashboard)</a>
                <a href="/logout">(log out)</a>
              {% endif %}
            </div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <h1><a class="head_title" href="{{ url_for('index') }}">MusicBrainz Sandbox Reports Tool</a></h1>
            {% block content %}{% endblock %}
          </div>
    </div>
    {% block js %}{% endblock %}
    </body>
</html>
