{% extends "layout.html" %}
{% block title %}Create New Report{% endblock %}

{% block content %}
<form method="post">
  <input type="text" name="name" style="width: 100%" />
  <textarea data-widearea="enable" name="sql" placeholder="SQL"></textarea>
  <textarea data-widearea="enable" name="template" placeholder="Template"></textarea>
  <input type="submit" value="Add report!" />
</form>
{% endblock %}

{% block js %}
<script src="/static/widearea.min.js"></script>
<script>wideArea();</script>
{% endblock %}
