{% extends "layout.html" %}
{% block title %}Edit Report{% endblock %}

{% block content %}
<h2>Edit report: <a href="{{ url_for('report', reportid=reportid) }}">{{ report[1] }}</a></h2>
<form method="post">
  <input type="text" name="name" style="width: 100%" value="{{ report.1 }}" />
  <textarea data-widearea="enable" name="sql" placeholder="SQL">{{ report.2 }}</textarea>
  <input type="text" name="template_headers" style="width: 100%" placeholder"Table header" value="{{ report.4 }}" />
  <textarea data-widearea="enable" name="template" placeholder="Template">{{ report.3 }}</textarea>
  <input type="submit" value="Edit report!" />
</form>

<h2>Query plan</h2>
{% if extracted %}
  <p>
    {% for line in extracted %}
      {{ line[0] | replace(' ', ' ') }}<br />
    {% endfor %}
  </p>
{% else %}
  <p>
    <strong>Query failed: <span style="color: red">{{ error }}</span></strong>
  </p>
{% endif %}
{% endblock %}

{% block js %}
<script src="/static/widearea.min.js"></script>
<script>wideArea();</script>
{% endblock %}
