{% extends "layout.html" %}
{% block title %}{{ report[1] }}{% endblock %}

{% block content %}
<h2>
   {% if current_user.is_authenticated() and current_user.id == report[0] %}
     <a href="{{ url_for('report', reportid=reportid) }}">{{ report[1] }}</a>
   {% else %}
     {{ report[1] }} by <a href="https://musicbrainz.org/user/{{report[0]}}">{{ report[0] }}</a>
   {% endif %}
</h2>
{% if extracted %}
  <table class="zebra">
    <thead><tr>{{ report[4] | safe }}</tr></thead>
    <tbody>
    {% for line in extracted %}
      <tr>{{ line | safe }}</tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>
    <strong>Query failed: <span style="color: red">{{ error }}</span></strong>
  </p>
{% endif %}
{% endblock %}
