{% extends "layout.html" %}
{% block title %}Edit Report{% endblock %}

{% block content %}
<h2>Edit report: <a href="{{ url_for('report', reportid=reportid) }}">{{ report[1] }}</a></h2>
<form method="post">
  <label for="id-name">Report name:</label><input type="text" name="name" id="id-name" style="width: 100%" value="{{ report[1] }}" />
  <label for="id-name">SQL:</label><textarea data-widearea="enable" name="sql" id="id-sql" placeholder="SQL">{{ report[2] }}</textarea>
  <label for="id-name">Table Header:</label><input type="text" name="template_headers" id="id-template_headers" style="width: 100%" placeholder"Table header" value="{{ report[4] }}"/>
  <label for="id-name">Table Row Template:</label><textarea data-widearea="enable" name="template" id="id-template" placeholder="Template">{{ report[3] }}</textarea>
  <input type="submit" value="Edit report!" />
</form>

<h2>Query plan</h2>
{% if extracted %}
  <p>
    {% for line in extracted %}
      {{ line[0] | replace(' ', ' ') }}<br />
    {% endfor %}
  </p>
{% else %}
  <p>
    <strong>Query failed: <span style="color: red">{{ error }}</span></strong>
  </p>
{% endif %}
{% endblock %}

{% block js %}
<script src="/static/widearea.min.js"></script>
<script>wideArea();</script>
{% endblock %}
