SECRET_KEY = 'seekrit'
OAUTH_CLIENT_ID = ''
OAUTH_CLIENT_SECRET = ''
OAUTH_REDIRECT_URI = ''

PGSQL_DB = 'reportstool'
PGSQL_USER = 'reports'
PGSQL_MB_DB = 'musicbrainz_db'
PGSQL_MB_USER = 'musicbrainz'

